* {
    box-sizing: border-box;
}

body {
    background-color: #ff7a7a;
    background-color: hsl(0, 100%, 74%);
    background-image: url('../public/images/bg-intro-desktop.png');
    font-family: 'Poppins', Tahoma, Verdana;
    font-size: 16px;
    margin: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8%;
}

/* tablet and ipad */
@media screen and (max-width: 768px) {

    body {
        background-image: url('../public/images/bg-intro-mobile.png');
        font-size: 14px;
    }

    main {
        flex-direction: column;
        padding: 5%;
    }
}

/* mobile */
@media screen and (max-width: 480px) {

    body {
        font-size: 12px;
    }

    main {
        padding: 2%;
    }

}